# --- Quartus II / Prime Specific ---
db/
incremental_db/
output_files/
greybox_tmp/
hc_output/

simulation/

*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.qws
*.bak
*.txt
*.vmo

*.sof
*.pof
*.ttf
*.rbf

# --- ModelSim Specific ---
work/
rtl_work/
*.mpf
*.mti
*.log
transcript
vsim.wlf
*.vstf

# --- OS Specific ---
.DS_Store
Thumbs.db
*.tmp
